<!DOCTYPE html>

<head>
	<link rel="stylesheet" href="./css/style.css">
</head>

<body>
<header>
	<div class="container">
		<div class="header-inner">
			<button class="hamburger" id="mobile-menu"></button>
		</div>
	</div>
</header>
<nav>
	<div class="container">
		<ul class="navbar">
			<li><a href="#">ホーム</a></li>
			<li><a href="#">会社案内</a></li>
			<li><a href="#">製品案内</a></li>
			<li><a href="#">サポート</a></li>
			<li><a href="#">お問い合わせ</a></li>
		</ul>
	</div>
</nav>
<script src="./script/script.js"></script>
</body>
</html>